html {
  /* 10 / 16 = 6.25% */
  font-size: 62.5%;
}

body {
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  margin: 1rem;
}

ul.nav {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(211, 211, 211, 0.8);

  list-style-type: none;
  padding: 0;
}

ul.nav li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;

  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

ul.nav li:last-of-type a {
  border-bottom: none;
}

ul.nav li a:hover {
  background-color: skyblue;
}
