/* Make a desktop only class. References:
https://getbootstrap.com/docs/4.2/layout/grid/#offset-classes 
sm is >= 576px
*/
@media only screen and (min-width:576px) {
	div.sidebarNav {
		width: 25%;
		position: fixed;
		height: 85%;
	}

	/* Hide the toggle button in bigger screens*/
	button#sidebarNavToggleMobile {
		display: none;
	}

	div.mainContent {
		margin-left: 30%;
	}
}


/* For larger desktop screens, reduce the size of navbar */
@media only screen and (min-width:768px) {
	div.sidebarNav {
		width: 15%;
		position: fixed;
		height: 85%;
	}

	/* Hide the toggle button in bigger screens*/
	button#sidebarNavToggleMobile {
		display: none;
	}

	div.mainContent {
		margin-left: 20%;
	}
}


/* Mobile only */
@media only screen and (max-width: 575px) {
	div.sidebarNav {
		z-index: 1;
		position: fixed;
		background-color: rgb(202, 202, 202);
	}

	button#sidebarNavToggleMobile {
		width: 20%;
		/* background-color: #007BFF; */
	}

	button#sidebarNavToggleMobile img {
		width: 100%;
		height: 100%;
	}

	div.mainContent {
		margin-top: 1em;
	}


	/*Scale image to width size*/
	img.scaleToScreen {
		width: 100%;
		height: auto;
	}
}


span.food {
	color: red;
}

span.wood {
	color: green;
}

span.gold {
	color: rgb(216, 184, 0);
}

span.stone {
	color: gray;
}

/* Reference: */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
button#toTopButton {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */

	/* Chrome fixes below */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgba(23, 163, 184, 0.75); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 10px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 1.4em; /* Increase font size */
}

button#toTopButton:hover {
	background-color: rgb(18, 133, 151); /* Add a dark-grey background on hover */
}


.customHidden {
	display: none;
}

.normalFontWeight {
	font-weight: normal;
}

.bottomBorder {
	border-bottom: 1px solid #ddd;
}

.sidebarNav {
	overflow-y: auto;
}

.customBotTopMargin {
	margin: 1em 0em;
}

.customLeftMargin {
	margin-left: 0.5em;
}

.lightGrayBackground {
	background-color: #ddd;
}


/*Remove borders from buttons with images*/
button.buttonWithImage {
	padding: 0;
	border: 0;
	background: none;
}
