---
layout: default
---

<script src="assets/js/food-chain-magnate-calculator.js">
</script>

<h1>Food Chain Magnate Calculator</h1>

<div class="grid-container-2-columns">
  <div class="row alternating-colors">
    <div class="grid-item">
      Pizza Bonus
    </div>
    <div class="grid-item">
      <input type="checkbox" id="pizza-bonus-checkbox">
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Burger Bonus
    </div>
    <div class="grid-item">
      <input type="checkbox" id="burger-bonus-checkbox">
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Drinks Bonus
    </div>
    <div class="grid-item">
      <input type="checkbox" id="drinks-bonus-checkbox">
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Luxuries Manager
    </div>
    <div class="grid-item">
      <input type="checkbox" id="luxuries-manager-checkbox">
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      House has a Garden
    </div>
    <div class="grid-item">
      <input type="checkbox" id="has-garden-checkbox">
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Discounts
    </div>
    <div class="grid-item">
      <select id="discounts">
        {% for number in site.data.food-chain-magnate-calculator.discounts %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">Unit Price</div>
    <div class="grid-item">
      <span id="unit-price">10</span>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Pizzas
    </div>
    <div class="grid-item">
      <select id="pizzas">
        {% for number in site.data.food-chain-magnate-calculator.food-tokens %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Burgers
    </div>
    <div class="grid-item">
      <select id="burgers">
        {% for number in site.data.food-chain-magnate-calculator.food-tokens %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Lemonade
    </div>
    <div class="grid-item">
      <select id="lemonades">
        {% for number in site.data.food-chain-magnate-calculator.food-tokens %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Sodas
    </div>
    <div class="grid-item">
      <select id="sodas">
        {% for number in site.data.food-chain-magnate-calculator.food-tokens %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row alternating-colors">
    <div class="grid-item">
      Beers
    </div>
    <div class="grid-item">
      <select id="beers">
        {% for number in site.data.food-chain-magnate-calculator.food-tokens %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="grid-container-2-columns margin-top-2x">
  <div class="row">
    <div class="grid-item">
      Payout
    </div>
    <div class="grid-item">
      <span id="payout">
        0
      </span>
    </div>
  </div>
  <div class="row">
    <div class="grid-item">
      <button id="calculate-button">
        Calculate
      </button>
    </div>
    <div class="grid-item">
      <button id="reset-button">
        Reset
      </button>
    </div>
  </div>
  <div class="row">
    <div class="grid-item span-two-columns">
      <span id="calculate-error-message" class="red hidden-visibility">
        A house without a garden cannot exceed 3 items.
      </span>
    </div>
  </div>
</div>
