<script src="assets/js/navigation.js"></script>

<nav class="main-nav">
  <ul class="my-border-top">
    {% for item in site.data.navigation %}
      <li {% if page.url == item.url %}class="current-page"{% endif %}>
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.children %}
          <ul class="my-dropdown-items">
            {% for child in item.children %}
              <li class="my-dropdown-item {% if page.url == child.url %} current-page{% endif %}">
                <a href="{{ child.url }}">{{ child.title }}</a>
                {% if child.children %}
                  <ul class="my-dropdown-items">
                    {% for grandchild in child.children %}
                      <li class="my-dropdown-item {% if page.url == child.url %} current-page{% endif %}">
                        <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
