// $gap-size: 10px;
// $padding: 15px;

$linkedin-color: #0077b5;
$github-color: #171515;

.container {
  display: flex;
  flex-direction: column;
  // gap: $gap-size;
  align-items: center; // Centers items horizontally

  .item {
    max-width: 100%; // Full width
    text-align: center;
    // padding: $padding;
    // border-radius: 5px;

    .profile-picture {
      @include large {
        max-width: 50%;
      }

      @include medium {
        max-width: 50%;
      }

      border-radius: 50%; // Makes the image round
      object-fit: cover; // Ensures the image fits well without stretching
    }
  }

  .item-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .item {
      text-align: center;
      margin: 5px;

      .social-icon {
        text-decoration: none;

        .fa-linkedin,
        .fa-github,
        .fa-envelope {
          &:hover {
            transform: scale(1.2);
          }
        }

        .fa-linkedin {
          color: $linkedin-color;
        }

        .fa-github {
          color: $github-color;
        }
      }
    }
  }
}
