$linkedin-color: #0077b5;
$github-color: #171515;
$icon-margin: 0.4em;

body {
  font-family: "Be Vietnam Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
  code {
    font-family: "Oxygen Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}

.container {
  display: flex;
  flex-direction: column;
  // gap: 1em;
  align-items: center; // Centers items horizontally

  .item {
    max-width: 100%; // Full width
    text-align: center;
    // padding: $padding;
    // border-radius: 5px;

    .profile-picture {
      @include large {
        max-width: 50%;
      }

      @include medium {
        max-width: 50%;
      }

      @include small {
        max-width: 75%;
      }

      border-radius: 50%; // Makes the image round
      object-fit: cover; // Ensures the image fits well without stretching
    }
  }

  .item-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .item {
      text-align: center;
      margin: $icon-margin;

      .social-icon {
        text-decoration: none;

        .fa-linkedin,
        .fa-github,
        .fa-envelope {
          &:hover {
            transform: scale(1.2);
          }
        }

        .fa-linkedin {
          color: $linkedin-color;
        }

        .fa-github {
          color: $github-color;
        }
      }
    }
  }
}

img.technology-icon-3x {
  width: 3em;
  height: 3em;
}

img.technology-icon-4x {
  width: 4em;
  height: 4em;
}

img.technology-icon-3x,
img.technology-icon-4x {
  &:hover {
    transform: scale(1.2);
  }
}

.expandable-list {
  li {
    display: none;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  li.visible {
    display: list-item;
    opacity: 1;
    transform: translateY(0);
  }
}

.small-font {
  font-size: 0.8em;
}

.miscellaneous {
  padding-top: 2em;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.margin-bottom-2x {
  margin-bottom: 2em;
}

.margin-top-2x {
  margin-top: 2em;
}

ul.no-left-indent {
  // Reference: https://stackoverflow.com/a/26213863/6323360
  padding-left: 1.2em;
}

.grid-container-second-col-only {
  display: grid;
  /* First column auto-sized, second column flexible */
  grid-template-columns: auto 1fr;
  align-items: center;

  .first-column {
    grid-row: span 100;
    margin: 0 ($icon-margin/2);
  }

  .second-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    .item {
      margin: 0 ($icon-margin/2);
    }

    @include large {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

nav.main-nav ul, nav.main-nav * ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.main-nav * li {
  position: relative;
}

nav.main-nav * li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

nav.main-nav * li a:hover {
  text-decoration: none;
  color: $header-heading-color;
}

nav.main-nav * li.current-page {
  background-color: $header-bg-color-secondary;
}

nav.main-nav * li ul {
  display: none;
}

nav.main-nav * .active {
  display: block;
}

.grid-container-2-columns {
  max-width: 100%;
}

.grid-container-2-columns .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container-2-columns .row .grid-item {
  margin: 0.2em 0em 0.2em 0.2em;
}

.grid-container-2-columns .alternating-colors:nth-child(odd) {
  background-color: rgba(30,107,184, 0.3);
}

.span-two-columns {
  grid-column: span 2;
}

.red {
  color: red;
}

.hidden-visibility {
  visibility: hidden;
}
